<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lemoon.can.milkyway.infrastructure.repository.mapper.LikeMapper">
    <!-- 查询动态的点赞用户信息 -->
    <select id="selectLikeUsers" resultType="lemoon.can.milkyway.facade.dto.UserDTO">
        SELECT 
            u.id,
            u.nick_name,
            u.avatar
        FROM likes l
        JOIN users u ON l.like_user_id = u.id
        WHERE l.moment_id = #{momentId}
        ORDER BY l.created_at DESC
    </select>
</mapper> 